body {
  font-family: Helvetica, sans-serif;
}

h1 {
  background-image: url("../images/pattern.jpeg");
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
}

h2 {
  font-size: 32px;
  font-weight: bold;
  color: white;
}

strong {
  color: blue;
}

.divider {
  margin: 50px 0px;
  padding: 10px 20px;
}
.itembox{	
  max-width: 250PX;
  margin: 0px 40px;
}

.itembox p{
  font-size: 16px;
  line-height: 28px;
}

.itembox p strong{
	display: block;
	margin-top: 20px;
}

#brushes h2 {
  background-color: mediumspringgreen;
}

#frames h2 {
  background-color: lightcoral;
}

#paint h2 {
  background-color: skyblue;
}
